doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/global.css")
        link(rel="stylesheet", href="/styles/menu.css")
        link(rel="shortcut icon", href="/images/icon.png", type="image/x-icon")
        script(src="/scripts/menu.js" defer) 
        title=title
    body
        ul(class="menu")
            each puzzle in status
                if puzzle.complete
                    a(class="puzzle complete" disabled href=`/puzzle/${puzzle.redirects}`)
                        label(class="text") COMPLETE
                        label(class="finish-code text") #{puzzle.code}
                else
                    a(class="puzzle" href=`/puzzle/${puzzle.redirects}`)
                        label(class="text") #{puzzle.difficulty}
        .code
            .inp
                input(type="text", name="code" id="code" placeholder="código")
                button(class="btn" id="send") Enviar
        .error-label(id="error")
            .bars(id="bars")
                .bar1
                .bar2
            p(class="text") código incorrecto